<form>
    <div class = "input-group">
        <p>
            <label for="initial-ivestment">Initial Investment</label>
            <input id = "initial-investment" type="number" />
        </p>
        <p>
            <label for="annual-ivestment">Annual Investment</label>
            <input id = "annual-investment" type="number" />
        </p>
    </div>
    <div class = "input-group">
        <p>
            <label for="expected-ivestment">Expected Returns</label>
            <input id = "Expected-investment" type="number" />
        </p>
        <p>
            <label for="duration">Duration</label>
            <input id = "duration" type="number" />
        </p>
    </div>
    <p>
        <button>Calculate</button>
    </p>
</form>
